<body>
    <h1 style="text-align: center"><u>Contact Details Application</u></h1>
    <div class="container" style="margin-top: 30px;">
        <h3>Implementation Details</h3>
        <ul>
          <li>Implemented functionality to create a Contact Details.</li>
          <li>On initial loading of application default contact details are displayed.</li>
          <li>You can perform CRUD operations with the help of this application.</li>
          <h4>Available operatin :</h4>
          <li>1. Add contact</li>
          <li>2. Delete contact</li>
          <li>3. Update contact</li>
          <li>3. View Contact List</li>
        </ul>
        <p>Now as you know the details, start exploring it. Just switch the tabs in navigation bar.!!</p>
     </div>
</body>